@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery img {
  transition: transform 0.3s;
}

.image-gallery img:hover {
  transform: rotate(0deg);
}


